name: feature-branch-event

on:
  push:
    branches:
      - 'feature**'

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: maven

      - name: Package project
        run: |
          chmod +x mvnw
          docker-compose up -d
          ./mvnw package -Dspring.profiles.active=test
